<!--名前と内容-->

 <div class="col-sm-offset-2 col-sm-8">

<%= form_for((@message), html: {class: "form-horizontal"}) do |f| %>


<% if @message.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @message.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
  <% end %>





 
  <div class="form-group">
    <label for="message_name" class=" col-sm-2 control-label">名前</label>
    <div class="col-sm-8">
        <%= f.text_field :name,:class => "form-control", cols: "80", rows: "1"  %>
    </div>
  </div>
  
  <div class="form-group">
   
    <label for="message_body" class=" col-sm-2 control-label">内容</label>
   <div class="col-sm-8">
     <%= f.text_area :body,:class => "form-control", cols: "80", rows: "6" %>
  </div>
   </div>
   
   
    <div class="form-group">
   
    <label for="message_age" class=" col-sm-2 control-label">年齢</label>
   <div class="col-sm-8">
     <%= f.text_field :age,:class => "form-control", cols: "50", rows: "1" %>
  </div>
   </div>
   
   
  <br /><br />
  
  

 <!--提出ボタン-->
 <div Align="center">
<%= f.submit class: "btn btn-sm btn-warning" %>
  </div>
 
 </div>
<% end %>
